.designGrid {
  gap: 2vw;

  @media (min-width: 800) {
    gap: 0.2vw;
  }
  p {
    font-weight: 700;
  }
  h1 {
    font-weight: 700;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    font-size: 11.2vw;
    height: fit-content;
    text-transform: uppercase;
    @apply col-span-full;
    @media (min-width: 800) {
      font-size: 5vw;
    }
  }
  h2 {
    span {
      font-size: 5vw;
      letter-spacing: -0.05em;
      @media (min-width: 800) {
        font-size: 3.33vw;
        letter-spacing: -0.05em;
      }
    }
  }
}
